.home-app
  background-color #000
  min-height: 100vh
  padding-bottom 4rem
  .description-search
    padding-top 3rem
  form
    margin-bottom 3rem
  .input-search
    background-color transparent
    margin-top .3rem
    border none
    outline none
    border-bottom 1px solid #999
    display block
    width 100%
    color #fff
    padding .5rem 0
    &:focus
      border-bottom 1px solid #fff

::-webkit-input-placeholder
  color #999

::-moz-placeholder 
  color #999

:-ms-input-placeholder 
  color #999

:-moz-placeholder 
  color #999

.small
  font-size 14px

.medium
  font-size 16px

.extra-big
  font-size 36px
  font-weight bold

.big
  font-size 18px

.white
  color #fff

.gray
  color #999
